@use '../../../scss/variables' as v;

.principal-layout {
  display: flex;
  height: 100vh;
}

.principal-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.principal-content {
  flex: 1;
  background: v.$surface;
  padding: 2rem;
  overflow-y: auto;
}

@media (max-width: 600px) {
  .principal-layout {
    flex-direction: column;
    height: 100vh;
  }
  .principal-main {
    width: 100vw;
  }
  .principal-content {
    padding: 1rem;
  }
} 